@page "/licencia"
@page "/licencias/{LicenciaId:int}"

@inject LicenciasBLL licenciasBLL
@inject EmpleadosBLL empleadosBLL
@inject NotificationService notificationService



<EditForm Model="licencia" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h3>Registro de Licencias</h3>
        </div>
        <div class="card-body">
            <div class="container overflow-hidden">
                <div class="row gy-6">
                    @*PrestamoId*@
                    <label>Licencia ID</label>
                    <div class="form-group">
                        <div class="form-row align-items-center">
                            <div class="col-5">
                                <div class="form-group">
                                    <div class="input-group">
                                        <InputNumber @bind-Value="licencia.LicenciaId" class="form-control" />
                                        <div class="input-group-append">
                                            <button type="button" class="input-group-text btn btn-primary" @onclick="Buscar"> <i
                                        class="oi oi-magnifying-glass" /></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            @*PersonaId*@
                            <div class="form-group">
                                <div class="mb-3">
                                    <label>Empelado ID</label>
                                    <InputSelect class="form-select" @bind-Value="licencia.EmpleadoId">
                                        <option value="0" disabled> Seleccione uno </option>
                                        @foreach (Empleados empleado in listaEmpleadoId)
                                        {
                                            <option value="@empleado.EmpleadoId">@empleado.Nombre (ID:
                                                @empleado.EmpleadoId)</option>
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => licencia.EmpleadoId)" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        @*Fecha*@
                        <label> Fecha de emision de la licencia</label>
                        <div class="form-group">
                            <InputDate @bind-Value="licencia.FechaEmision" class="form-control" />
                            <ValidationMessage For="@(() => licencia.FechaEmision)" />
                        </div>
                    </div>
                    <div class="col-6">
                        @*Fecha de inicio*@
                        <label>Fecha de Inicio de la licencia</label>
                        <div class="form-group">
                            <InputDate @bind-Value="licencia.FechaInicio" class="form-control" />
                            <ValidationMessage For="@(() => licencia.FechaInicio)" />
                        </div>
                    </div>
                    <div class="col-6">
                        @*Dias de Reposo*@
                        <div class="form-group">
                            <label>Dias de Reposo</label>
                            <InputText @bind-Value="licencia.DiasReposo" class="form-control" />
                            <ValidationMessage For="@(() => licencia.DiasReposo)" />
                        </div>
                    </div>
                    <div class="col-6">
                        @*Tipo de licencia*@
                        <label>Tipo de licencia</label>
                        <div class="form-group">
                            <InputText @bind-Value="licencia.TipoLicencia" class="form-control" />
                            <ValidationMessage For="@(() => licencia.TipoLicencia)" />
                        </div>
                    </div>
                    <div class="col-6">
                        @*Catacteristicas*@
                        <label>Caracteristicas</label>
                        <div class="form-group">
                            <InputText @bind-Value="licencia.Caracteristica" class="form-control" />
                            <ValidationMessage For="@(() => licencia.Caracteristica)" />
                        </div>
                    </div>
                    <div class="col-6">
                        @*Nombre del medico*@
                        <label>Nombre del medico</label>
                        <div class="form-group">
                            <InputText @bind-Value="licencia.NombreMedico" class="form-control" />
                            <ValidationMessage For="@(() => licencia.NombreMedico)" />
                        </div>
                    </div>
                    <div class="col-6">
                        @*lugar de emision de la licencia*@
                        <label>Lugar de emision</label>
                        <div class="form-group">
                            <InputText @bind-Value="licencia.LugarEmision" class="form-control" />
                            <ValidationMessage For="@(() => licencia.LugarEmision)" />
                        </div>
                    </div>

                </div>
            </div>
            <h1>
                <span class="text-danger">@mensaje</span>
            </h1>


        </div>
        <div class="card-footer">
            <div class="form-group text-center" display: inline-block>
                <button type="button" class="btn btn-lg btn-primary"> <i class="oi oi-file" /> Nuevo</button>
                <button type="submit" class="btn btn-lg btn-success"><i class="oi oi-document" /> Guardar</button>
                <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar"><i class="oi oi-trash" />
                    Eliminar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int LicenciaId { get; set; }
    public int EmpleadoId { get; set; }



    public List<Empleados> listaEmpleadoId { get; set; } = new List<Empleados>();

    public Licencias licencia { get; set; } = new Licencias();
    public Empleados empleado { get; set; } = new Empleados();

    public String mensaje { get; set; } = "";

    public void Nuevo()
    {
        licencia = new Licencias();
    }
    bool Validar()
    {
        return licencia.Caracteristica.Contains(".");
    }

    protected override void OnInitialized()
    {

        listaEmpleadoId = empleadosBLL.GetList(p => true);
        if (EmpleadoId > 0)
        {
            this.licencia.LicenciaId = LicenciaId;

            this.Buscar();
        }
    }

    public void Guardar()
    {
        bool guardo;

        if (!Validar())
        {
            mensaje = "Hay errores en caracteristicas, por favor terminar la oracion con un punto.";
            return;
        }

        guardo = licenciasBLL.Guardar(this.licencia);

        if (guardo)
        {
            ShowNotification(
            new NotificationMessage
            {
                Severity = NotificationSeverity.Success,
                Summary = "Guardado correctamente"
            });

            Nuevo();

        }
        else
        {
            ShowNotification(
            new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = "No se guardo correctamente."
            });

        }


    }
    private void Buscar()
    {
        if (licencia.LicenciaId > 0)
        {
            var encontrado = licenciasBLL.Buscar(licencia.LicenciaId);

            if (encontrado != null)
                this.licencia = encontrado;
            else
            {
                ShowNotification(
                new NotificationMessage
                {
                    Severity = NotificationSeverity.Warning,
                    Summary = "No Encontrado..."
                });
            }

        }
    }

    public void Eliminar()
    {
        bool elimino;

        elimino = licenciasBLL.Eliminar(licencia);

        if (elimino)
        {
            Nuevo();
            ShowNotification(
            new NotificationMessage
            {
                Severity = NotificationSeverity.Success,
                Summary = "Fue eliminado correctamente."
            });
        }
        else
        {
            ShowNotification(
            new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = "No fue Eliminado, intentar nuevamente."
            });
        }
    }
    void ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);

    }
}